@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.footer {
  position: relative;
  padding: $space-lg;
  background: $green;
  border-top: 2px solid rgba($primary, 0.12);
  @include flex-center;

  &__content {
    @include flex-center;
    gap: $space-lg;
  }

  &__content--text,
  &__text {
    color: $text;
    font-size: $font-size-sm;
    line-height: $line-height-normal;
  }

  .logo {
    width: 50px;
    height: 50px;
    border-radius: $radius-full;
    object-fit: cover;
  }

  &__content--links {
    position: absolute;
    right: $space-lg;
    display: flex;
    align-items: center;
    gap: $space-xl;
    padding: $space-md;
  }

  &__nav,
  &__socials {
    display: flex;
    align-items: center;
    gap: $space-xl;
  }

  &__social-link {
    color: $text;
    font-size: $font-size-2xl;
    @include transition(color, $transition-base);

    &:hover {
      color: $primary;
    }
  }
}

@include respond-mobile {
  .footer {
    padding: $space-5xl $space-lg;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__content {
      flex-direction: column;
      gap: $space-2xl;
    }

    &__content--links {
      position: static;
      justify-content: center;
      margin-top: $space-md;
    }

    &__nav,
    &__socials {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

@include respond-small {
  .footer {
    padding: $space-4xl $space-lg;

    &__nav {
      flex-direction: column;
      gap: $space-md;
    }

    &__socials {
      gap: $space-lg;
    }

    &__social-link {
      font-size: $font-size-xl;
    }

    &__text,
    &__content--text {
      font-size: $font-size-sm;
      line-height: $line-height-relaxed;
    }
  }
}