@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.collapse {
  background: $beige;
  border-radius: $radius-lg;
  overflow: hidden;
  box-shadow: $shadow-sm;

  &__header {
    width: 100%;
    padding: $space-xl $space-2xl;

    @include flex-between;

    border: none;
    background: $beige;
    color: $text-dark;

    font-size: $font-size-lg;
    font-weight: $font-weight-bold;

    cursor: pointer;

    svg {
      color: $primary;
      @include transition(transform);
    }
  }

  &--open {
    svg {
      transform: rotate(180deg);
    }
  }

  &__content {
    padding: $space-xl $space-2xl;

    border-top: 1px solid rgba($green, 0.15);

    color: $text-dark;

    p,
    li {
      line-height: $line-height-relaxed;
    }

    ul {
      margin: 0;
      padding-left: $space-xl;
    }
  }
}